In [51]:
import requests
import pandas as pd

In [52]:
generate_report_response = requests.post(
    "https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/generate_report", # точка входа
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460", # ключ API
    "X-Nickname": "Nick", # авторизационные данные
    "X-Cohort": "1" # авторизационные данные
    }
).json()
task_id = generate_report_response["task_id"]

In [53]:
get_report_response = requests.get(
    f"https://d5dg1j9kt695d30blp03.apigw.yandexcloud.net/get_report?task_id={task_id}", 
    headers={
    "X-API-KEY": "5f55e6c0-e9e5-4a9c-b313-63c01fc31460",
    "X-Nickname": "Nick",
    "X-Cohort": "1"
    }
).json()
print(get_report_response)

{'task_id': 'MjAyMy0xMi0yMVQxMzo1NjowNQlOaWNr', 'status': 'RUNNING', 'data': {'report_id': None, 'start_day': None, 'end_date': None, 's3_path': {}}}

In [54]:
# import pandas as pd
# import os

# # Replace these variables with your actual values
# cohort_number = "1"
# nickname = "zavarov"
# report_id = "TWpBeU1pMHdOQzB4TTFReE1qb3hNRG8xTkFsNllYWmhjbTky="
# base_url = "https://storage.yandexcloud.net/s3-sprint3/cohort_{}/{}/{}/{}"

# # List of file names
# file_names = ["customer_research.csv", "user_order_log.csv", "user_activity_log.csv"]

# # Create the 'stage' folder if it doesn't exist
# folder_path = "stage"
# os.makedirs(folder_path, exist_ok=True)

# # Loop through the file names and download each file
# for file_name in file_names:
#     url = base_url.format(cohort_number, nickname, report_id, file_name)
#     df = pd.read_csv(url)
    
#     # Save the DataFrame to a CSV file in the 'stage' folder
#     df.to_csv(os.path.join(folder_path, file_name), index=False)

# print("Files saved to the 'stage' folder.")

In [55]:
import pandas as pd

# Load data into pandas dataframes
customer_research_df = pd.read_csv("customer_research.csv")
user_order_log_df = pd.read_csv("user_order_log.csv")
user_activity_log_df = pd.read_csv("user_activity_log.csv")

# Display data types of each dataframe
print("Customer Research Data Types:")
print(customer_research_df.dtypes)

print("\nUser Order Log Data Types:")
print(user_order_log_df.dtypes)

print("\nUser Activity Log Data Types:")
print(user_activity_log_df.dtypes)

Customer Research Data Types:
date_id        object
category_id     int64
geo_id          int64
sales_qty       int64
sales_amt       int64
dtype: object

User Order Log Data Types:
id                 int64
uniq_id           object
date_time         object
city_id            int64
city_name         object
customer_id        int64
first_name        object
last_name         object
item_id            int64
item_name         object
quantity           int64
payment_amount     int64
dtype: object

User Activity Log Data Types:
id              int64
uniq_id        object
date_time      object
action_id       int64
customer_id     int64
quantity        int64
dtype: object

In [56]:
customer_research_df.head()

               date_id  category_id  geo_id  sales_qty  sales_amt
0  2022-11-09T00:00:00         1001       1          7       5467
1  2022-11-09T00:00:00         1001       2          0          0
2  2022-11-09T00:00:00         1001       3          4       3124
3  2022-11-09T00:00:00         1002       1          1        781
4  2022-11-09T00:00:00         1002       2          1        781

In [57]:
user_order_log_df.head()

,id,uniq_id,date_time,city_id,city_name,customer_id,first_name,last_name,item_id,item_name,quantity,payment_amount
0,1,81f4b8fe84644a1747826836c2a58ee2,2022-11-09T00:00:00,1,Ростов,5116,Оксана,Федорова,3,Устройство для нагревания табака Трубка Мира,4,2000
1,2,5037e581ff6ab9ded9ee8b47d8e4a0b0,2022-11-09T00:00:00,1,Ростов,2316,Ольга,Волкова,11,Хлеб ржаной,3,60
2,3,8f933bea90b78a9454f1c0c8843690a4,2022-11-09T00:00:00,0,Москва,8317,Снежанна,Волкова,2,Молоко 5%,4,600
3,4,4b4ad5bea4f30d2ee2718e7e51154bab,2022-11-09T00:00:00,1,Ростов,2512,Ольга,Лебедева,8,Лампочка LED,2,600
4,5,2ef66c16692cc09708ed1f8f5b7e2c37,2022-11-09T00:00:00,0,Москва,6216,Елизавета,Морозова,7,Средство для мытья посуды,5,1000

In [58]:
user_activity_log_df.head()

,id,uniq_id,date_time,action_id,customer_id,quantity
0,1,65e2cb90b603176dcabe4d1168010603,2022-11-09T00:00:00,2,580,19
1,2,bac452e0dd4a9b365328d6999c22d37b,2022-11-09T00:00:00,2,711,5
2,3,c47555c9c2b28fb580c04b996a97f042,2022-11-09T00:00:00,3,220,15
3,4,45103f8ffbe8c29dd18a69bdf90a3db6,2022-11-09T00:00:00,3,320,11
4,5,aef51564afde2d5629966baa069602f5,2022-11-09T00:00:00,2,191,22

In [59]:
# Define SQL queries to create tables with appropriate data types
create_customer_research_table_query = """
CREATE TABLE IF NOT EXISTS stage.customer_research (
    date_id             TIMESTAMP,
    category_id         BIGINT,
    geo_id              BIGINT,
    sales_qty           BIGINT,
    sales_amt           BIGINT
);
"""

create_user_order_log_table_query = """
CREATE TABLE IF NOT EXISTS stage.user_order_log (
    id               BIGINT,
    uniq_id           VARCHAR,
    date_time         TIMESTAMP,
    city_id           BIGINT,
    city_name         VARCHAR(100),
    customer_id       BIGINT,
    first_name        VARCHAR(100),
    last_name         VARCHAR(100),
    item_id           BIGINT,
    item_name         VARCHAR(100),
    quantity          BIGINT,
    payment_amount    BIGINT
);
"""

create_user_activity_log_table_query = """
CREATE TABLE IF NOT EXISTS stage.user_activity_log (
    id              BIGINT,
    uniq_id         VARCHAR,
    date_time       TIMESTAMP,
    action_id       BIGINT,
    customer_id     BIGINT,
    quantity        BIGINT
);
"""

In [60]:
import psycopg2

try:
    conn = psycopg2.connect(
        host="localhost",
        port='15432',
        database="de",
        user="jovyan",
        password="jovyan"
    )
    cursor = conn.cursor()

    # Begin the transaction
    cursor.execute("BEGIN;")

    # Execute the queries
    cursor.execute(create_customer_research_table_query)
    cursor.execute(create_user_order_log_table_query)
    cursor.execute(create_user_activity_log_table_query)
    # Commit the transaction
    conn.commit()

except Exception as e:
    # Handle exceptions and log errors
    print(f"Error: {e}")
    conn.rollback()

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

In [61]:
# Define SQL queries to create tables with appropriate data types for production layer
create_prod = """
    CREATE SCHEMA IF NOT EXISTS prod;
"""
create_customer_research_table_query = """
CREATE TABLE IF NOT EXISTS prod.customer_research (
    date_id             TIMESTAMP,
    category_id         BIGINT,
    geo_id              BIGINT,
    sales_qty           BIGINT,
    sales_amt           BIGINT
);
"""

create_user_order_log_table_query = """
CREATE TABLE IF NOT EXISTS prod.user_order_log (
    city_name         VARCHAR(100),
    customer_id       BIGINT
);
"""

create_user_activity_log_table_query = """
CREATE TABLE IF NOT EXISTS prod.user_activity_log (
    date_time       TIMESTAMP,
    action_id       BIGINT,
    customer_id     BIGINT,
    quantity        BIGINT
);
"""

In [62]:
try:
    conn = psycopg2.connect(
        host="localhost",
        port='15432',
        database="de",
        user="jovyan",
        password="jovyan"
    )
    cursor = conn.cursor()

    # Begin the transaction
    cursor.execute("BEGIN;")
    
    # Execute the queries
    cursor.execute(create_prod)
    cursor.execute(create_customer_research_table_query)
    cursor.execute(create_user_order_log_table_query)
    cursor.execute(create_user_activity_log_table_query)
    # Commit the transaction
    conn.commit()

except Exception as e:
    # Handle exceptions and log errors
    print(f"Error: {e}")
    conn.rollback()

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

In [63]:
import pandas as pd
import psycopg2
from io import StringIO  # Required for COPY FROM

In [64]:
# PostgreSQL database connection parameters
db_params = {
    'dbname': 'de',
    'user': 'jovyan',
    'password': 'jovyan',
    'host': 'localhost',
    'port': '15432'
}

# CSV file paths
csv_paths = {
    'customer_research': 'customer_research.csv',
    'user_order_log': 'user_order_log.csv',
    'user_activity_log': 'user_activity_log.csv'
}

In [81]:
def copy_data_to_postgres(schema, table_name, csv_path):
    conn = psycopg2.connect(**db_params)
    cursor = conn.cursor()

    # Read CSV file into a pandas DataFrame
    df = pd.read_csv(csv_path)

    # Create a StringIO buffer to write CSV data
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False, header=False, sep=',')  # Assuming tab-separated values

    # Move the buffer cursor to the beginning of the buffer
    csv_buffer.seek(0)

    # Build the SQL query with COPY command
    copy_sql = f"COPY {schema}.{table_name} FROM stdin WITH CSV HEADER DELIMITER as ','"

    # Execute copy_expert to efficiently copy data into PostgreSQL table
    cursor.copy_expert(sql=copy_sql, file=csv_buffer)


    conn.commit()
    conn.close()

In [82]:
# Load data into PostgreSQL tables in the "stage" schema
copy_data_to_postgres('stage', 'customer_research', csv_paths['customer_research'])
copy_data_to_postgres('stage', 'user_order_log', csv_paths['user_order_log'])
copy_data_to_postgres('stage', 'user_activity_log', csv_paths['user_activity_log'])

In [ ]:
# template 
import psycopg2
from io import StringIO
import pandas as pd

# PostgreSQL database connection parameters
db_params = {
    'dbname': 'your_database_name',
    'user': 'your_username',
    'password': 'your_password',
    'host': 'your_host',
    'port': 'your_port',
}

# CSV file path
csv_path = '/path/to/your/data.csv'

# Function to insert data into PostgreSQL table in a specific schema using copy_expert with error handling
def insert_data_to_postgres(schema, table_name, csv_path):
    conn = None
    try:
        conn = psycopg2.connect(**db_params)
        cursor = conn.cursor()

        # Read CSV file into a pandas DataFrame
        df = pd.read_csv(csv_path)

        # Create a StringIO buffer to write CSV data
        csv_buffer = StringIO()
        df.to_csv(csv_buffer, index=False, header=False, sep='\t')  # Assuming tab-separated values

        # Move the buffer cursor to the beginning of the buffer
        csv_buffer.seek(0)

        # Build the SQL query with COPY command
        copy_sql = f"COPY {schema}.{table_name} FROM stdin WITH CSV HEADER DELIMITER as '\t'"

        # Execute copy_expert to efficiently copy data into PostgreSQL table
        cursor.copy_expert(sql=copy_sql, file=csv_buffer)

        conn.commit()
    except Exception as e:
        print(f"Error: {e}")
    finally:
        if conn is not None:
            conn.close()

# Insert data into a specific schema and table using copy_expert with error handling
insert_data_to_postgres('your_schema', 'your_table', csv_path)

In [ ]:
step = int(user_order_log.shape[0] / 100)
while i <= user_order_log.shape[0]:
    print(i, end='\r')
    s_val =  str([tuple(x) for x in user_order_log.loc[i:i + step].to_numpy()])[1:-1]
    cur.execute(insert_s.replace('{s_val}',s_val))
    conn.commit()
    i += step+1